
MONGO_URI=http://localhost/5173...
NODE_ENV=dev
OPENAI_API_KEY=sk-proj---fBp8A
OLLAMA_API_URL=http://localhost:11434/api
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
OLLAMA_MODEL=llama3.2:3b


# API Docs Auth
API_DOCS_USER=admin
API_DOCS_PASSWORD=admin
API_DOCS_SERVER=http://localhost:8001
API_DOCS_REALM=your_api_docs

# Inital Admin
ADMIN_INITIAL_PASS=my_strong_pass
ADMIN_INITIAL_EMAIL=my_admin_email

FRONTEND_URLS=http://localhost:3000,http://localhost:4200

RESEND_KEY="some_key_here"

# JWT related
JWT_SECRET=your_super_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# Minio / S3 Storage
AWS_ACCESS_KEY=appuser
AWS_SECRET=strongpassword
AWS_REGION=us-east-1
AWS_S3_BUCKET=shirikiadao
AWS_S3_ENDPOINT=https://mystorage.com
BOT_TOKEN=8710707174:AAEHnmwZ3X7L_wqZ208cddBrRhLajqg4nwc

