
# =========================
# INJECTIVE
# =========================
INJECTIVE_RPC_URL=
INJECTIVE_NETWORK=testnet   # Allowed values: testnet | mainnet | development




# =========================
# WHATSAPP
# =========================
WHATSAPP_API_BASE_URL=
USER_ACCESS_TOKEN=
PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_VERIFY_TOKEN=


# =========================
# SERVER
# =========================
SERVER_PORT=8000
MONGO_URI=
BOT_TOKEN=
JWT_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=development  # Allowed values: production | development | test




# =========================
# OLLAMA
# =========================
USE_OLLAMA_EMBEDDING=true
OLLAMA_API_URL=http://localhost:11434
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
OLLAMA_MODEL=qwen2.5:3b      # You can use any other ollama model you prefer or use other models
